.prettySelect{
    display: block;
    float: left;
    width: 100%;
    position: relative;
}

.prettySelect.disabled{
    cursor: not-allowed!important;
    overflow: hidden;
}
.prettySelect.disabled:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.prettySelect .selectWrapper{
    padding: 4px 4px 0;
    float: left;
    display: block;
    height: auto;
}

.prettySelect.loading .selectWrapper:before, .prettySelect .selectWrapper .selectList.loading:before{
    content: "Loading...";
    color: #ccc;
    font-weight: bold;
    -moz-animation: loading 1s infinite linear;
    -webkit-animation: loading 1s infinite linear;
    margin: 4px;
}

@-moz-keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    };
}

@-webkit-keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prettySelect .selectWrapper .selectOptions{
    display: inline;
}

.prettySelect .selectWrapper .searchWrap{
    position: relative;
}

.prettySelect.multiple .selectWrapper .selectSearch,
.prettySelect.showAll .selectWrapper .selectSearch{
    transition: width 0.5s;
}
.prettySelect .selectWrapper .selectSearch{
    border: none;
    box-shadow: none;
    height: 100%;
    width: 0;
    background-color: transparent;
    margin: -1px 0;
}
.prettySelect.focused .selectWrapper .selectSearch{
    width: 170px;
    line-height: 20px;
}

.prettySelect .selectWrapper .selectSearch:focus{
    outline-color: transparent !important;
}

.prettySelect .selectWrapper .selectLabel, .prettySelect .selectWrapper .searchWrap{
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
    line-height: 20px;
    cursor: pointer;
}
.prettySelect .selectWrapper .selectLabel.unselected{
    background-color: #ccc;
}
.prettySelect.simple.focused:not(.showAll) .selectWrapper .selectLabel{
    display:none;
}

.prettySelect .selectWrapper .selectLabel .selectRemove{
    margin-left: 4px;
    font-size: 20px;
    opacity: 0.5;
}

.prettySelect .selectList {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 200px;
    width: auto;
    max-width: 100%;
    min-height: 30px;
    max-height: 150px;
    overflow-y: auto;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 2px 2px;
    padding: 4px;
}

.prettySelect .selectList .selectAddButton{
    width: 100%;
    display: block;
    white-space: normal;
    margin-bottom: 8px;
}

.prettySelect .selectWrapper .selectList{
    display: none;
}
.prettySelect.focused .selectWrapper .selectList{
    display: block;
}

.prettySelect .selectWrapper .selectGroup{
    position: relative;
    margin-top: 12px;
    margin-bottom: 6px;
    padding: 8px 4px 4px 8px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    float: left;
}

.prettySelect .selectWrapper .selectGroup .groupLabel{
    font-weight: bold;
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    top: -10px;
    left:6px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.prettySelect .selectWrapper .selectList .selectListItem{
    cursor: pointer;
    display: inline-block;
    clear: both;
    float: left;
    width: 100%;
}

.prettySelect .selectWrapper .selectList .selectListItem.selected{
    background-color: #ccc;
}

.prettySelect .selectWrapper .selectLabel.disabled,.prettySelect .selectList .selectListItem.disabled{
    color: #ccc!important;
    background-color: #999!important;
    cursor: not-allowed!important;
}

.prettySelect .selectWrapper .selectList .noItems{
    display: none;
    width: 100%;
    height: 100%;
    line-height: 30px;
    color: #777;
    text-align: center;
    cursor: default;
}

.prettySelect .selectWrapper .selectList .noItems:last-child{
    display: block;
}